
@{
    //ViewData["Title"] = "Deneme";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = null;
}

<h1>Deneme</h1>
<br />
<h5>Burası Deneme Sayfasıdır</h5>

@{ 
    var deger = "<b>Kıymetli Arkadaşlarım, Kıymetli Dostlarım<b>" +
                "<p style=\"color:Blue; font-weight:bold\">Güzel Söz</p>";
}

@Html.Raw(deger)

