@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba Dünya</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="background-color:gold"> @DateTime.Now.ToShortDateString() </p>
    <br/>
    <div style="background-color:#4800ff">
        @for(int i=1; i<=10; i++)
            {
            @i
            <br/>
            }
    </div>

    <br/>
    <br/>
    <div style="background-color:#00ff21">
        @{ 
            var liste = new List<string>() { "Ankara", "İzmir", "İstanbul", "Diyarbakır" };
        }

        @foreach(var li in liste){ 
            @li
            <br/>
        }
    </div>

</div>
