@model List<Ders1.Models.Kitap>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3>Merhaba, kitap sayfasına hoşgeldiniz</h3>
    <br/>
    <br/>
    <table class="table table-bordered">
        @foreach (var k in Model) 
        { 
        <tr>
            <td>@k.Id</td>
            <td>@k.KitapAdi</td>
            <td>@k.Yazar</td>
        </tr>
        }
    </table>

    <button class="btn btn-warning">Tablo Listesi</button>
</body>
</html>
